####################################################################################################
## @file        .gitignore
 #  @brief      Hidden files from repository record
 #  @details    Espressif ESP32 Workspace
 #
 #  @author     Justin Reina, Firmware Engineer
 #  @created    5/23/22
 #  @last rev   5/23/25
 #
 #  @section    Opens
 #          none current
 #
 #  @section    Legal Disclaimer
 #          © 2025 Justin Reina, All rights reserved. All contents of this source file and/or
 #          any other related source files are the explicity property of Justin Reina. Do not 
 #          distribute. Do not copy. 
 #/
####################################################################################################

####################################################################################################
##                                            PROJECTS                                            ##
####################################################################################################


####################################################################################################
##                                        UNTRACKED CONTENT                                       ##
####################################################################################################
.archived.zip
last.zip
next.zip
.archived/
last/
next/
